<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="EKT">

    <test name="MainPage">
        <classes>
            <class name="com.ekt.qa.common.gui.tests.main.MainTest"/>
        </classes>
    </test>
    <test name="ActionCamerasTest">
        <classes>
            <class name="com.ekt.qa.common.gui.tests.gadgets.ActionCamerasTest"/>
        </classes>
    </test>
    <test name="TabletsTest">
        <classes>
            <class name="com.ekt.qa.common.gui.tests.computers.TabletsTest"/>
        </classes>
    </test>
</suite>
